<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <div class="form-group bg">
    <label for="content">{{label}}</label>
    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="content" minHeight="128px" [required]="true" [ngClass]="{ 'is-invalid': submitted && form.content.errors }"></app-ngx-editor>
    <div *ngIf="submitted && form.content.errors" class="invalid-feedback">
      <div *ngIf="form.content.errors.required">Content is required</div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
